<header class="header">
  <a href="/" class="logo">Rachamv</a>
  <div class="tagline">Software Engineer | UI/UX Designer</div>
  <div class="header__button">
    <button class="searchBtn" aria-expanded="false">
      Search
      <i class="bx bx-search" id="search-icon"></i>
    </button>
  </div>
  <i class="bx bx-menu" id="menu-icon"></i>
  <nav class="navbar">
    <a href="/" class="<%= isActiveRoute('/', currentRoute) %>">Home</a>

    <a href="/about" class="<%= isActiveRoute('/about', currentRoute) %>"
      >About</a
    >

    <a
      href="/portfolio"
      class="<%= isActiveRoute('/portfolio', currentRoute) %>"
      >Portfolio</a
    >

    <a href="/services" class="<%= isActiveRoute('/services', currentRoute) %>"
      >Services</a
    >

    <a href="/blog" class="<%= isActiveRoute('/blog', currentRoute) %>">Blog</a>

    <a href="/contact" class="<%= isActiveRoute('/contact', currentRoute) %>"
      >Contact</a
    >
  </nav>
</header>
