<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rachamv Portfolio</title>
    <meta
      name="description"
      content="Welcome to my portfolio website. Explore my skills, projects, and experience as a software developer.">
    <meta name="keywords" content="Rachamv, Rachamv Portfolio, Rachamv Software Developer">
    <meta name="author" content="Adewunmi Oladele">
    <meta property="og:url" content="https://www.tnsquad.com/">
    <meta property="og:site_name" content="Rachamv - Portfolio">
    <meta property="og:title" content="Rachamv - Portfolio">
    <meta
      property="og:description"
      content="Welcome to my portfolio website. Explore my skills, projects, and experience as a software developer.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="images/image-adewunmi.jpg">
    <meta property="og:locale" content="en">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Rachamv - Portfolio">
    <meta
      name="twitter:description"
      content="Welcome to my portfolio website. Explore my skills, projects, and experience as a software developer.">
    <meta name="twitter:image" content="images/image-adewunmi.jpg">
    <meta name="twitter:image:alt" content="Rachamv - Portfolio">
    <meta name="theme-color" content="#F3F6F4">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Template CSS -->

    <!-- box icons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">


    <!-- custom css -->
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/blogstyle.css">
    <!-- favicon -->
  </head>
<body>
  
  <%- include('../partials/search.ejs')  %>
  <div class="container">
    <%- include('../partials/header.ejs')  %>
    <main class="main">
      <%- body %>
    </main>
    <%- include('../partials/footer.ejs')  %>
    <%- include('../partials/alljs.ejs') %>
  </div>  
</body>
</html>